.code {
  display: flex;
  flex: none;
  min-height: 0;
}

.flexible {
  flex: 1;
  min-width: 0;
}

.editor {
  display: flex;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
  min-width: 260px;
  border-left: 1px solid var(--border-default);
  background-color: var(--surface-editor);
}
